body {
	
	border-radius: 5px;
	background-position: center;
	background-size: 100%,100%;
	background-attachment: fixed;
	background-image: url('images/deftones.jpg');
	
}


.body1 {
	font-family:'Roboto', sans-serif;
	font-size: 18px;  
}

.title {
	text-align: center;
	font-family: sans-serif, 'Open Sans';
	font-size: 50px;
}

	
.games{
	float: left;
	padding: 15px;
}

