<style>

body {
  background-image: url("bg-img.jpg");
  background-position: center;
  background-size: 100%,100%;
  background-attachment: fixed;
  height: 300vh;
}

.title {
	text-align: center;
	border-radius: 5px;
	font-family: sans-serif, 'Open Sans';
	font-size: 50px;
	}
	
.body {
	font-family: Arial;
	font-size: 18px;

}

</style>